<h1><%= link(@track) %></h1>

<a href="<%= edit_track_url %>">Edit this track</a>
<%= render 'delete_button', track: @track  %>


<h2>Details</h2>

Album: <%= link(@track.album) %><br>
Band: <%= link(@track.band) %><br>
Bonus?: <%= @track.bonus? ? "Yes" : "No" %>

<% if @track.lyrics %>
  <h2>Lyrics</h2>
  <%= @track.lyrics %>
<% end %>
