<h1><%= @user.username %></h1>

<%= render 'layouts/errors' %>

<form action="<%= comments_url %>" method="post">
  <%= form_auth_token %>
  <input type="hidden" name="comment[commentable_id]" value="<%= @user.id %>">
  <input type="hidden" name="comment[commentable_type]" value="User">
  <label for="comment_reply">Comment</label>
  <textarea name="comment[reply]" id="comment_reply"></textarea>


  <button>Submit Comment</button>
</form>

<ul>
  <% @user.received_comments.each do |comment| %>
    <li>
      <%= comment.reply %> -<%=comment.author.username %>
    </li>
  <% end %>
</ul>
