<h1><%= link(@band) %></h1>

<% if current_user.admin? %>
  <a href="<%= edit_band_url %>">Edit this band</a>
  <%= render 'delete_button', band: @band  %>
  <a href="<%= new_band_album_url(@band) %>">Add a new album</a><br><br>
<% end %>

<h2>Albums</h2>

<% album_links_for_band(@band).each do |link| %>
  <%= link %><br>
<% end %>
