<h2>Goal</h2>

<%= @goal.body %>
<br>
User: <%= @goal.user.username %><br>


Status:
<% if @goal.private? %>
  Private
<% else %>
  Public
<% end %>

if @goal.completed?
  Completed
else
  Not Completed
  <form action="" method="post">

  </form>
end

<% if current_user == @goal.user %>
<%= link_to "Update Goal", edit_goal_url(@goal) %>
  <form action="<%= goal_url(@goal) %>" method="post">
    <%= form_auth_token %>
    <input type="hidden" name="_method" value="delete">
    <button>Delete Goal</button>
  </form>
<% end %>
