<!DOCTYPE html>
<html>
<head>
  <title>News Reader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
  <p>
    Current User: <%= current_user.username %>
  </p>
  <form action="<%= session_url %>" method="post">
    <input type='hidden' name='_method' value='delete'>
    <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
    <button>Log out</button>
  </form>
<% end %>
<a href='<%= new_user_url %>'>Sign Up!</a>


<%= yield %>

</body>
</html>
