<!DOCTYPE html>
<html>
<head>
  <title>MusicInfoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  Logged in as
  <a href="<%= user_url(current_user) %>"><%= current_user.email %></a>
  <%= render 'shared/log_out_button' %>
<% else %>
  <a href="<%= new_session_url %>">Log in</a>
  <a href="<%= new_user_url %>">Sign up</a>
<% end %>

<a href="<%= bands_url %>">Bands</a>
<a href="<%= albums_url %>">Albums</a>
<a href="<%= albums_url %>">Tracks</a>

<%= flash[:notice] %>

<%= yield %>

</body>
</html>
